.card{
    background-color: teal;
    padding: 1rem;
    margin: 1rem;
}
.title{
    font-weight: bold;
    font-size: 1.5em;
    color:black;
}
.body{
    color:white;
}
.btn{
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: .2rem;
    color: white;
}